.Header {
    color: #ffffff;
    display: flex;
    height: 60px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,105,121,1) 35%, rgba(0,212,255,1) 100%);;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}