html {
    height: 100%;
}

.Register {
    display: flex;
    justify-content: center;
    width: 30%;
    border: 3px solid #dddddd;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    justify-content: space-around;
    -webkit-box-shadow: 0px 2px 15px 5px #000000; 
    box-shadow: 0px 2px 15px 5px #000000;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,105,121,1) 35%, rgba(0,212,255,1) 100%);
}

.field {
    text-align: center;
}

.field {
    border-radius: 15px;
}

.error {
    color: red;
}